/* ===== IMPORTACIÓN DE FUENTES ===== */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Inter:wght@300;400;500;600;700&display=swap');

/* ===== COMPORTAMIENTOS BASE ===== */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ===== PREVENCIÓN DE PARPADEO (FOUC) PARA GSAP ===== */
/* Ocultamos los elementos que van a ser animados hasta que GSAP tome el control */
.gsap-anim {
    visibility: hidden;
}

/* ===== CUSTOM SCROLLBAR (Toque Premium) ===== */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #F4F6F9;
}
::-webkit-scrollbar-thumb {
    background: #002B49;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #E50000;
}